<%= form_for @document do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </div>
  <div class="form-group">
    <%= f.submit :class=>'btn btn-primary pull-right', :value=>'Save' %>
  </div>
<% end %>
