<!DOCTYPE html>
<html>
<head>
  <title>Editor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Editor</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a></li>
          <li class="<%= 'active' if params[:controller] == 'documents' %>"><a href="/documents">Documents</a></li>
        </ul>

        <div class="navbar-right">
          <% if user_signed_in? %>
          <p class="navbar-text">Welcome, <%= current_user.email %> |
          <strong>
            <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "navbar-link" %>
          </strong>
          </p>
          <% else %>
          <p class="navbar-text">You're not logged in |
          <a href="/users/sign_in" class="navbar-link"><strong>Log in</strong></a>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, val| %>
      <div class="alert alert-info">
        <%= val %>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
